* {
    padding: 0;
    margin: 0;
}
body {
    width: 1280px;
    font-size: 12px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
h3 {
    margin: 10px;
    font-size: 21px;
}
.underline {
    position: relative;
    margin-bottom: 32px;
}
.underline:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0 10px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-15px);
}
header {
    height: 60px;
    font-size: 14px;
}

header h2 {
    font-size: 21px;
    display: inline-block;
}
header ul {
    float: right;
}
header li {
    float: left;
    height: 55px;
    padding: 0 20px;
    text-align: center;
    border-bottom: 5px solid rgba(231, 79, 77, 0);
    font-size: 18px;
    line-height: 55px;
}
header li:hover {
    border-bottom: 5px solid rgba(231, 79, 77, 1);
}
#login {
    background: url(images/login.png) no-repeat left center;
    padding-left: 30px;
}

#hero {
    background: url(images/hero.png) no-repeat;
    color: #fff;
    height: 720px;
    padding: 220px 0 0 118px;

}
#hero h2 {
    font-size: 60px;
}
#hero p {
    width: 300px;
    font-size: 21px;
}
#hero a {
    display: block;
    width: 332px;
    height: 64px;
    text-align: center;
    background-color: #e7504d;
    margin: 60px 0 198px;  
    font-size: 30px;
    line-height: 64px;
}
#hero ul {
    background-color: #fff;
    color: #000;
    margin-left: -118px;
    margin-bottom: 40px;
    height: 250px;
    font-size: 14px;
}
#hero li {
    display: inline-block;
    width: 154px;
    height: 124px;
    padding: 0 80px;
    margin: 40px 0 86px;
    text-align: center;
    position: relative;
}
#hero li:after {
    content: "";
    display: block;
    width: 2px;
    height: 50px;
    background-color: #999;
    position: absolute;
    right: 0;
    bottom: -20px;
}
#hero li:last-child:after {
    display: none;
}
#hero li img {
    display: block;
    width: 40px;
    margin: 20px auto;
}

#about {
    background-color: #edecec;
    text-align: center;
    color: #a1a1a1;
    padding: 90px 0 80px;
    font-size: 53px;
    height: 190px;
}

#search {
    background: url(images/map.png) no-repeat top center;
    padding: 30px 50px 80px;
    text-align: center;
    color: #fff;
    height: 340px;
}
#search form {
    margin-top: 50px;
}
#search .search-btn {
    background-color: #bf4f49;
    color: #fff;
    border: none;
    width: 236px;
    height: 36px;
}
#search select {
    appearance: none;
    width: 236px;
    height: 36px;
    margin-right: 30px;
}
/*#search select option {
    background-color: #e3e3e5;
    border: solid 1px #bf4e48;
}
#search select option:hover {
    background-color: #bf4e48;
    color: #fff;
}*/
#event {
    background-color: #F7F7F7;
}
#event a {
    display: inline-block;
    width: 274px;
    margin: 0 20px;
    text-align: center;
}
#event img {
    border: inset 1px #dadada;
    padding: 10px;
    width: 200px;
    height: 320px;
    margin: 0 auto;
}
#event span {
    font-size: 18px;
    display: block;
}

#more div, #more img {
    float: left;
    text-align: center;
}
#more .learnmore {
    display: block;
    width: 120px;
    color: #E95958;
    border: solid 1px #E95958;
    padding: 5px 20px;
    margin: 10px auto;
}

#moimg1 {
    width: 764px;
    height: 420px;
}
#moimg2 {
    width: 516px;
    height: 420px;
}
#mo1 {
    width: 516px;
    height: 420px;
}
#mo2 {
    width: 382px;
    height: 420px;
    background-color: #E95958;
    color: #fff;
}
#mo2 .learnmore {
    color: #fff;
    border: solid 1px #fff;
}
#mo3 {
    width: 382px;
    height: 420px;
}
#mo3 .underline:after {
    background-color: #adadad;
}

#join {
    clear: both;
    padding: 80px;
}
#join>h3 {
    text-align: center;
}
#join>h3:after {
    background-color: #E95958;
}
#join>p {
    margin-bottom: 50px;
    text-align: center;
}
#join ul {
    width: 290px;
    float: left;
    margin-right: 76px;
}
#join li {
    font-size: 14px;
    margin-bottom: 38px;
}
#join li p {
    font-size: 12px;
}
#join li p:after {
    content: "more";
    display: block;
    text-align: right;
}
#join label {
    display: inline-block;
    width: 274px;
    height: 40px;
    line-height: 40px;
    background-color: #ededee;
    margin: 0 20px 15px 0;
    padding: 0 18px;
    color: #6b6b6d;
}
#join label[for="dream"] {
    width: 604px;
    height: 118px;
}
#join input {
    border: none;
    background-color: #ededee;
}
#join textarea {
    display: block;
    width: 100%;
    border: none;
    background-color: #ededee;
}
#join input[type="submit"] {
    width: 640px;
    height: 40px;
    border: none;
    background-color: #ededee;
}

#contact {
    background-color: #33363F;
    color: #fff;
    padding: 60px;
    text-align: center;
}
#contact input[type="email"] {
    height: 40px;
    border: none;
    padding: 0;
    margin: 20px 0;
    width: 400px;
}
#contact input[type="submit"] {
    height: 40px;
    border: none;
    padding: 0;
    margin: 20px 0;
    width: 70px;
    background-color: #717179;
    color: #fff;
}
#contact li{
    display: inline-block;
    width: 50px;
}

footer {
    background-color: #30303A;
    color: #fff;
    font-size: 16px;
    padding: 20px 50px;
}
footer .backtotop {
    float: right;
}